.design-by {
	font-family: 'Josefin Sans', sans-serif;
	height: 3rem;
    width: 100%;
    display:flex;
    justify-content: right;
    color: rgb(66, 66, 66);
    position: fixed;
    padding-top:12px;
	top: 94vh;
}

.design-by span{
    margin-right: 10px;
    font-size: 1.2rem;

}

#sp-name{
    margin-right: 30px;
}
