html{
  height: 100%;
  position: "absolute";
  z-index: -1;
  top: 0;
  left: 0
}

body {
  margin: 0;
  padding: 0;
  height:100%;
  background: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:focus, textarea:focus, select:focus{

  outline: none;

}

canvas{
  position: fixed !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
