.heading-fixed {
	background: linear-gradient(to right, #56ccf2, #0668b9);
	width: 104%;
	height: 10vw;
	position: relative;
	top: -6.5vw;
	display: flex;
	flex-direction: row;
	transform: rotate(-4deg);
	left: -2vw;
	z-index: 1000;
}
.connect-container{
	display: flex;
	flex-direction: column;

}
.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0);
    width: 100%;
	height: 100vh;
	margin-top: 4vw;
}

.form-container form{
    display: flex;
    flex-direction: column;
    align-items:center;
    width:29vw;
}

.form-container input {
	width: 36vw;
	height: 40px;
	border-radius: 3px;
	border: none;
	color: #b6c5c7;
	margin: 10px;
	padding-left: 8px;
	background: rgb(32, 32, 32);
	font-size: 16px;
	transition: box-shadow .4s cubic-bezier(.79,.73,.46,-0.21);
	min-width: 17em;
}

.form-container textarea{
	width: 36vw;
	height: 150px;
	resize: none;
	border-radius: 3px;
	border: none;
	color: #b6c5c7;
	margin: 10px;
	padding-left: 8px;
	background: rgb(32, 32, 32);
	font-size: 16px;
	transition: box-shadow .4s cubic-bezier(.79,.73,.46,-0.21);
	min-width: 17em;
}

.form-container textarea:hover{
	box-shadow: 0px 1px 1px 1.3px aqua;
}

.form-container textarea:focus{
	box-shadow: 0px 1px 1px 1.3px #00a2ff;
}

input:hover {
	box-shadow: 0px 1px 1px 1.3px aqua;
}

input:focus {
	box-shadow: 0px 1px 1px 1.3px #00a2ff;
}

.form-button {
	position: relative;
	transform: rotate3d(1, 1, 1, 0deg);
	width: 13vw;
	min-width: 192px;
	height: 2.4rem;
	display: flex;
	justify-content: center;
	margin-top: 18px;
	padding-top: 4px;
	font-size: 1.7vw;
	border-radius: 4px;
	background: black;
	border: 1px solid gray;
	transition: opacity .6s;
	animation-name: button-animation-reverse;
	animation-duration: 0.6s;
	animation-timing-function: cubic-bezier(.68,-0.55,.27,1.55);
	animation-fill-mode: forwards;
}

.form-button:hover{
	background:  linear-gradient(to right, #34c4fd, #0074aa);
	animation-name: button-animation-forward;
	animation-duration: 0.6s;
	animation-timing-function: cubic-bezier(.68,-0.55,.27,1.55);
	animation-fill-mode: forwards;
}

#send-logo{
	width: 25px;
	fill: white;
	position:absolute;
	top: 7px;
	padding:0;
	margin:0;
	transition: top .9s cubic-bezier(0,-1.45,.95,2.43);
}

.form-button:hover #send-logo{
	position:absolute;
	top: 15px;
	padding:0;
	margin:0;

}

.form-button:hover  #l-2{
	fill: rgb(64, 67, 255);
	transition: fill 2s;
}

.form-button:hover  #l-1{
	fill: rgb(49, 52, 83);
	transition: fill 1s ease-in-out;
}

.alert-fail {
	background: red;
	width: 29vw;
	height: 49px;
	border-radius: 4px;
	display: flex;
	justify-content: center;
    align-items: center;
    transition: opacity 1s;
}
.alert-sucess {
	background: rgb(0, 255, 234);
	width: 29vw;
	height: 49px;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	margin-top: 22px;
    align-items: center;
    transition: opacity 1s;
}

@media (max-width: 767px){

	.heading-fixed {
		background: linear-gradient(to right, #56ccf2, #0668b9);
		width: 104%;
		height: 14vw;
		min-height: 10px;
		position: relative;
		top: -5vw;
		display: flex;
		flex-direction: row;
		transform: rotate(-4deg);
		left: -2vw;
		z-index: 1000;
	}

	.form-container input {
		width: 60vw;
		height: 40px;
		border-radius: 3px;
		border: none;
		color: #b6c5c7;
		margin: 10px;
		padding-left: 8px;
		background: rgb(32, 32, 32);
		font-size: 16px;
		transition: box-shadow .4s cubic-bezier(.79,.73,.46,-0.21);
		min-width: 20em;
	}

	.form-container textarea{
		width: 60vw;
		height: 150px;
		resize: none;
		border-radius: 3px;
		border: none;
		color: #b6c5c7;
		margin: 10px;
		padding-left: 8px;
		background: rgb(32, 32, 32);
		font-size: 16px;
		transition: box-shadow .4s cubic-bezier(.79,.73,.46,-0.21);
		min-width: 20em;
	}
}

@media (max-width: 900px){
	.form-container input {
		width: 60vw;
		height: 40px;
		border-radius: 3px;
		border: none;
		color: #b6c5c7;
		margin: 10px;
		padding-left: 8px;
		background: rgb(32, 32, 32);
		font-size: 16px;
		transition: box-shadow .4s cubic-bezier(.79,.73,.46,-0.21);
		min-width: 20em;
	}

	.form-container textarea{
		width: 60vw;
		height: 150px;
		resize: none;
		border-radius: 3px;
		border: none;
		color: #b6c5c7;
		margin: 10px;
		padding-left: 8px;
		background: rgb(32, 32, 32);
		font-size: 16px;
		transition: box-shadow .4s cubic-bezier(.79,.73,.46,-0.21);
		min-width: 20em;
	}
}
